{% extends "layout.html" %}
{% block body %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<ol>
  {% for zip in zips %}
    <li><p>zip {{ zip._id }} city {{ zip.city }} {{ zip.state }}, population is {{ zip.population }}</p></li>
  {% endfor %}
</ol>
<script>
d3.select('body').append('div').classed('chart_area', true);

var chart_area =
  d3
    .select("body")   // Выборка состоит из элемента <body>
    .append('div')    // Выборка состоит из вновь созданного элемента <div>
    .classed('chart_area', true) // Задаем класс выбранному элементу <div class='chart_area'></div>
  ;


var data = [];

{% for zip in zips %}
data.push({{ zip.population }})
{% endfor %}

var CHART_WIDTH = 500,
    CHART_HEIGHT = 300;
var widthScale = d3.scale.linear()
  .domain([
    d3.min(data, function(d, i) {``
      return d;
    }),
    d3.max(data, function(d, i) {
      return d;
    })
  ])
  .range([0, CHART_WIDTH])
  .nice();


chart_area
  .selectAll('div')
  .data(data)
  .enter()
  .append('div')
  .classed('bar_area', true)
  .style('background-color', 'hsl(240,50%,75%)')
    .style('height', '20px')
    .style('margin', '2px 0px')
.style('width', function(d,i) { return d/120 + 'px'; } )
.text(String)
;

</script>

{% endblock %}
